extends template/base.pug

block vars
    - var pageTitle = 'About page'

block content
    h2 About page
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, sequi? Quos, distinctio? Quidem mollitia dolores quod voluptatem recusandae, iusto impedit, corporis molestias ab fugit a totam et at rerum numquam.
    p
        img(src="images/nature.jpg")
