extends template/base.pug

block vars
    - var pageTitle = 'Home page'

block content
    h2 Home page
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quam quisquam aliquid!

    include components/home-news.pug
