section.news-home
    +News(
        'Hello world!',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit, sunt rem laboriosam, aut quia necessitatibus doloribus ullam aperiam quae ex. Veritatis, explicabo eius totam numquam distinctio sit! Repellat, vero!',
        'https://www.google.com/',
        false
    )
    +News(
        'Test',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit, sunt rem laboriosam, aut quia necessitatibus doloribus ullam aperiam quae ex. Veritatis, explicabo eius totam numquam distinctio sit! Repellat, vero!',
        'https://www.youtube.com/',
        false
    )
    +News(
        'Hello!',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit, sunt rem laboriosam, aut quia necessitatibus doloribus ullam aperiam quae ex. Veritatis, explicabo eius totam numquam distinctio sit! Repellat, vero!',
        '',
        true
    )
    +News(
        'World!',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas impedit, sunt rem laboriosam, aut quia necessitatibus doloribus ullam aperiam quae ex. Veritatis, explicabo eius totam numquam distinctio sit! Repellat, vero!',
        'https://www.google.com/',
        false
    )
