// breakpoint
$mobile: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop: 1366px;
$desktop: 1600px;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-text: #011627;

$color-green: #2ec4b6;
$color-red: #e71d36;
$color-yellow: #ff9f1c;

// fonts
$font-family: sans-serif;

// eight pixel idealogy
$size: 8px;

// other
$transition: 300ms;
